<div id="template" class="container">
  <p>New Board:</p>
  <form name="form" ng-submit="bd.create(board)">
    <input type="text" name="board.name" placeholder="Board Name" ng-model="board.name"></input>
    <button type="submit">Add Board</button>
  </form>
</div>