<div id="template" class="container">
  <div ng-controller="BoardController as board">
  <p>BOARD VIEW</p>
    <div ng-repeat="resource in board.resources">
      <div class="slot">
        <resource-display></resource-display>
      </div>
    </div>
    <div ng-repeat="board in board.boards">
      <ul>
        <li><a href="#/board/{{board.id}}">{{board.board}}</a></li>
      </ul>
    </div>
  </div>
</div>