<div id="template" class="container">
  <div ng-controller="BoardController as bd">
    <div ng-repeat="resource in bd.mainboard.resources">
      <div class="slot">
        <h3>Title: {{resource.name}}</h3><p>{{resource.item}}</p>
      </div>
    </div>
    <div class="add">
        <button ng-click="bd.viewForm()">Create Board</button>
        <div ng-if="bd.form == true">
          <div ng-include="'addboard.html'"></div>
        </div>  
    </div>
    <div ng-repeat="board in bd.boards">
      <ul>
        <li><a href="#" ng.click="bd.get(board.id)">{{board.board}}</a></li>
      </ul>
    </div>
  </div>
</div>