<div id="template" class="container">
  <div ng-controller="BoardController as bd"> 
   <div ng-if="bd.mainboard.name"> <h3>Current Board: {{bd.mainboard.name}}</h3></div>
   <div class="board clearfix">
    <div ng-repeat="resource in bd.mainboard.resources">
      <div class="slot">
        <resource-display></resource-display>
      </div>
    </div>
    </div>
    <div class="add">
        <button ng-click="bd.viewForm()">Create Board</button>
        <div ng-if="bd.form == true">
          <div ng-include="'addboard.html'"></div>
        </div>  
    </div>
      <ul>
        <li ng-repeat="board in bd.boards">
        <a href="#" ng.click="bd.get(board.id)">{{board.name}}</a>
        </li>
      </ul>
  </div>
</div>