<div class="container">
    <h2>The Home View!</h2>
    <ul>
        <li ng-repeat="thing in things">{{thing}}</li>
    </ul>
    <div ng-controller="UserController as user">
      <div ng-if="user.current_user == 'none'"><user-buttons></user-buttons>
      <div>
      <div ng-if="user.form == 'login'"> <log-form></log-form></div>
      <div ng-if="user.form == 'signin'"><sign-form></sign-form></div>
    </div>
</div>