<div class="container clearfix">
<div ng-controller="UserController as user">
  <div ng-if="user.logged == false">
    <div ui-view="sessions"></div>
  </div>
  <div ng-if="user.logged == true">
    <div ui-view="user"></div>
    <div class="clearfix" ui-view="board"></div>
    <div ui-view="resources"></div>
  </div>
  </div>
</div>