<div class="container">
    <div ng-controller="UserController as user">
      <div ng-if="user.current_user == 'none'">
      <h2>Welcome to Vision Board!</h2>
      <h3>Please log in or sign up below:</h3>
      <user-buttons></user-buttons>
      <div ng-if="user.form == 'login'"> <log-form></log-form></div>
      <div ng-if="user.form == 'signin'"><sign-form></sign-form></div>
      </div>
    </div>
</div>