<div class="container">
    <h2>The Home View!</h2>
    <ul>
        <li ng-repeat="thing in things">{{thing}}</li>
    </ul>
    <div ng-controller="UserController as user">
      <user-buttons></user-buttons>
      <user-forms></user-forms>
    </div>
</div>