<div class="container">
<div ng-controller="ResourceController as rs">
<h3>All Resources:</h3>
<div ng-repeat="resource in rs.resources">
  
</div>

<div class="paginate">
    <ul class="pagination">
      <li ng-if="rs.page > 0">
        <a href="" ng-click="rs.previousPage()">
          << Previous
        </a>
      </li>
      <li ng-if="rs.page < top.totalPages - 1">
        <a href="" ng-click="rs.nextPage()">
          Next >>
        </a>
      </li>
    </ul>

    <div style="clear: both;"></div>
  </div>
</div>
</div>
</div>