<div id="template" class="container">
  <div ng-controller="ResourceController as rs">
    <h3>All Resources:</h3>
    <div class="add">
      <button ng-click="rs.showForm()">Add Resource</button>
      <div ng-if="rs.form == true">
        <div ng-include="'addresource.html'"></div>
      </div>
    </div>
    <br>
    <div class="search">
      <label>Search: </label><input type="text" name="search" ng-model="rs.search">
    </div>
    
    <div ng-repeat="resource in rs.resources | filter: rs.search">
      <resource-display></resource-display><p><a href="#" ng-click="rs.delete(resource.id)">Delete</a></p>
    </div>
  </div>
</div>