<div id="template" class="container">
  <div ng-controller="ResourceController as rs">
    <h3>All Resources:</h3>
    <div class="add">
      <button ng-click="rs.showForm()">Add Resource</button>
      <div ng-if="rs.form == true">
        <div ng-include="'addresource.html'"></div>
      </div>
    </div>
    <br>
    <div class="search and filter">
      <label>Search: </label><input type="text" name="search" ng-model="rs.search"></input>
      <a href="#" ng-click="rs.sortType = 'kind'">Sort By Type</a>
      <a href="#" ng-click="rs.sortType = 'name'">Sort By Name</a>
      <a href="#" ng-click="rs.sortType = 'created_at'">Sort By Date</a>
    </div>
    <div class="resources" ng-repeat="resource in rs.resources | orderBy : rs.sortType | filter: rs.search">
      <resource-display></resource-display><p><a href="#" ng-click="rs.delete(resource.id)">Delete</a><form name="form" ng-submit="rs.addToBoard(resource.id, board)">
     <select ng-model="board">
       <option ng-repeat="board in user.current_user.boards" name="board" ng-value="{{board.id}}">{{board.name}}</option>
     </select>  
       <button type="submit">Add to Board</button>
   </form></p>
    </div>
  </div>
</div>