#template {
  margin-top: 20px;
  padding: 10px 0px 5px 0px;
}

li {
  display: inline-block;
  float: left;
  padding: 5px;
}

.slot {
  background-color: #6de0e0;
  width: 25%;
  height: 200px;
  overflow: auto;
  float: left;
  text-align: center;
  display: inline-block;
}

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}

h3, p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #0088dd;
  border-bottom: 1px solid #0088dd;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #90aaaf;
}

div.resources img{
  width: 25%;
  height: auto;
}

div.board img {
  width: 75%;
  height: auto;
  display: block;
  margin: auto;
}