<!DOCTYPE html>
<html>
<head>
  <title>VisionBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Vision Board</h1>

<div ng-app="app" class="app">
      <div ui-view></div>
</div>

</body>
</html>
